<link rel="stylesheet" href="css/style.css">
<h1 id={{roomName}} > Room: {{roomName}} </h1>
<p id={{user}} >{{#if user}}
  Current user: {{ user }}
{{/if}}</p>
{{!-- <p>To generate a new room, here is the room id: {{ newRoomId }}</p> --}}


<div class="chat-container">
    <div class="chat-messages">
      {{#if isAvailable}}
        <ul id="messageList" class="messageList">
            {{#each messages}}
            <div id={{this._id}} >
              <span class="user-name">{{this.username}}
                  <span class="date-time">{{this.created_at}}</span>
              </span>
              <p class="msg-text">{{this.text}}</p> 
            </div>
            {{/each}} 
        </ul>
      {{/if}}

    </div>

    <form action="http://localhost:8080/postMessage" method="POST" id="chatForm" class="chatForm">
      <input id="msg" name="msg" type="text" autocomplete="off" autofocus="on" placeholder="Enter Message.." required/>
      <input type="hidden" name="chatroom_name" value={{ roomName }} />
      <input type="hidden" name="user_name" value={{ user }} />

      <button>Send</button>
    </form>
</div>

<script>
    console.log('in here');
    let room_name = document.getElementsByTagName('h1')[0].id;
    intervalID = window.setInterval(function(){
    fetch(`http://localhost:8080/getMessages`)
    .then(function (items) {
            items.json()
            .then((jsonResponse) => {
                console.log(jsonResponse)
                /*
                created_at: "2021-05-25T21:07:18.000Z"
                roomName: "strong"
                text: "this is what i do baby boy"
                username: "randomname"
                __v: 0
                _id: "60ad67067a95f53a87111aa3"
                */
                let messageList = document.getElementsByClassName('messageList');
                var messageContainer = document.getElementById('messageList');
                //console.log(messageList);
                let messageListChildren = messageList[0].children;
                //console.log(messageListChildren);
                let messageSet = {}
                for(let i = 0 ; i < messageListChildren.length; ++i){
                  messageSet[messageListChildren[i].id] = true;
                }
                console.log(messageSet);

                for(let i = 0; i < jsonResponse.length; ++i){
                  if(!(jsonResponse[i]._id in messageSet) && jsonResponse[i].roomName == room_name){
                    let chatDiv = document.createElement('div');
                    let span1 = document.createElement('span');
                    let span2 = document.createElement('span');
                    let p = document.createElement('p');

                    span1.classList.add("user-name");
                    span2.classList.add("date-time");
                    p.classList.add("msg-text");

                    chatDiv.id = jsonResponse[i]._id;
                    span1.innerHTML = jsonResponse[i].username;
                    span2.innerHTML = jsonResponse[i].created_at;
                    p.innerHTML = jsonResponse[i].text;

                    span1.appendChild(span2);
                    chatDiv.appendChild(span1);
                    chatDiv.appendChild(p);

                    messageContainer.appendChild(chatDiv);
                  }
                }

            })
            .catch((err) => { console.log(err) })
            })
    .catch((err) => { console.log(err) })
    }, 3000);
</script>